@model eDnevnikN.Models.Odeljenja

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Da li ste sigurni da želite ovo izbrisati?</h3>
<div>
    <h4>Odeljenja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profesori.ImeIPrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesori.ImeIPrezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodineID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodineID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojOdeljenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojOdeljenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkolskaGodinaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkolskaGodinaID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
