@model eDnevnikN.Models.Ucenici

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ucenici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodinaUpisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodinaUpisa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedBrUOdeljenju)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedBrUOdeljenju)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ucen_Predm_Ocenas)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Naziv predmeta</th>
                    <th>Ocene</th>
                </tr>
                @foreach (var item in Model.Ucen_Predm_Ocenas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Predmeti.NazivPredmeta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ocene)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
