@model eDnevnikN.Models.SkolskaGodina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SkolskaGodina</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SkolskaGodinaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkolskaGodinaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis_sg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis_sg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SkolskaGodinaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
