@model IEnumerable<eDnevnikN.Models.Prof_Predm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Predmeti.NazivPredmeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profesori.Ime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Predmeti.NazivPredmeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesori.Ime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Prof_PredmID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Prof_PredmID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Prof_PredmID })
        </td>
    </tr>
}

</table>
