@*@model IEnumerable<eDnevnikN.Models.Profesori>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lozinka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lozinka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@


@model eDnevnikN.ViewModels.ProfesoriIndexData

@{ 
    ViewBag.Title = "Profesori";

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profesori</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>

    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-primary"
           href="/profesori2/create/" style="margin-bottom:20px; margin-top:20px">Unesi novog profesora</a>
        <table id="myProfesori" class="table table-striped " style="width:100%">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Korisnicko ime</th>
                    <th>Lozinka</th>
                    <th>Status</th>
                    <th>Predmeti</th>

                    <th>Edit</th>
                    <th>Details</th>
                    <th>Delete</th>

                </tr>
            </thead>

        </table>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>

       
        



        $(document).ready(function () {
            var oTable = $('#myProfesori').DataTable({
                "ajax": {
                    "url": '/Profesori2/GetProfesoris',
                    "type": "get",
                    "datatype": "json",
                },
                    "columns": [
                        { "data": "Ime", "autowidth": true },
                        { "data": "Prezime", "autowidth": true },
                        { "data": "KorisnickoIme", "autowidth": true },
                        { "data": "Lozinka", "autowidth": true },
                        { "data": "Status", "autowidth": true },
                        //{ "data": "PredmetiID", "autowidth": true },

                        
                        { "data": null, "render": function (data) { return (data["NazivPredmeta"]) }, "autowidth": true},


                        //"data": "DatumRodjenja",
                        //"render": function (jsonDate) {
                        //    var date = new Date(parseInt(jsonDate.substr(6)));
                        //    var month = date.getMonth() + 1;
                        //    return month + "/" + date.getDate() + "/" + date.getFullYear();
                        //}

                        

                        {
                            "data": "ID", "width": "50px", "render": function (data) {
                                return '<a class="popup" href="/profesori/edit/' + data + '">Edit</a>';
                            }
                        },

                        {
                            "data": "ID", "width": "50px", "render": function (data) {
                                return '<a class="popup" href="/profesori/details/' + data + '">Details</a>';
                            }
                        },

                        {
                            "data": "ID", "width": "50px", "render": function (data) {
                                return '<a class="popup" href="/profesori/delete/' + data + '">Delete</a>';
                            }
                        }
                    ]
                
                })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    //$.validator.unobtrusive.parse('form');
                });
                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Popup Dialog',
                        hight: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })
                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })

    </script>
</body>
</html>


