@model eDnevnikN.ViewModels.ProfesoriIndexData

@{
    ViewBag.Title = "Profesori";
}

<h2>Profesori</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ime
        </th>
        <th>
            Prezime
        </th>
        <th>
           KorisnickoIme
        </th>
        <th>
          Lozinka
        </th>
        <th>
           Status
        </th>
        <th>
           Predmeti
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Profesoris)
{
    string selectedRow = "";
    if (item.ID == ViewBag.ProfesoriID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KorisnickoIme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lozinka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @{
                foreach (var predmet in item.Predmetis)
                {
                    @predmet.PredmetiID @:  @predmet.NazivPredmeta <br />
                }
            }
        </td>
        <td>
            @Html.ActionLink("Select", "Index", new { id = item.ID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
